@charset "UTF-8";
#dropdown2 li a {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#img-container {
  margin: inherit;
}

.footer-icon {
  font-size: 1.45em !important;
}

#footer {
  margin-top: -1em;
  top: -1em;
}

#alan-img {
  margin-left: auto;
  margin-right: auto;
}

#shafi-img {
  margin-left: auto;
  margin-right: auto;
}

#silvio-img {
  margin-left: auto ;
  margin-right: auto;
}

iframe {
  border: none;
}

#parallax-img-1 {
  -ms-transform: translate3d(-100%, 0px, 0px);
}
