#dropdown2 li a {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#img-container {
  margin: inherit;
}

.footer-icon {
  font-size: 1.45em !important;
}

#footer {
  margin-top: -1em;
}

#alan-img {
  margin-left: auto;
  margin-right: auto;
}

#shafi-img {
  margin-left: auto;
  margin-right: auto;
}

#silvio-img {
  margin-left: 150%;
  margin-right: -50%;
}

iframe {
  border: none;
}

#parallax-img-1 {
  transform : translate3D(-75%,-395px,0px) !important;
}

